@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-not-nueve: #1100a5;
  --color-white: #fff;
  --color-dark-gray: #333333;
  --color-light-gray: #dddddd;
  --color-wine: #b00404;
}
.hero {
  height: 73vh;
  background-image: url("file:///C:/Users/Charo/OneDrive/Documents/Notaria%209%20_%20pagina%20web/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: var(--color-white);
}

.hero-content {
  background: rgba(21, 5, 60, 0.5);
  padding: 2rem;
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-family: "Source Sans Pro", sans-serif;
}

.hero-button {
  background-color: var(--color-white);
  color: var(--color-dark-gray);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.hero-button:hover {
  background-color: var(--color-light-gray);
}

/* NAV BAR SECTION */
/* Estilos del header */
.header {
  display: grid;
  grid-template-columns: 25rem 1fr;
  background-color: var(--color-white);
  padding: 0.9rem 0.9rem;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  color: var(--color-dark-gray);
  margin: 0;
}

.nav-list li {
  margin: 1rem 20px;
}

.nav-list a {
  color: var(--color-dark-gray);
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-list a:hover {
  transform: scale(1.07);
  color: var(--color-not-nueve);
}

/* Logo Notaria 9 */

.contenedor {
  width: 3.5rem;
  height: 3.5rem;
  max-width: 500px;
  border: 1px solid #ccc;
}
.contenedor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.logo-letters {
  display: flex;
  flex-direction: column;
  width: 14rem;
}
.logo-letters * {
  margin: 0;
}

#not-nueve {
  font-size: 1.24rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
#lic-lilia {
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.07rem;
}

/* WHO WE ARE SECTION */
.we-are-section {
  height: 14rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid var(--color-not-nueve);
}

/* OUR SERVICES */
.our-services-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid var(--color-wine);
  height: 30rem;
}
.our-services-wrapper h3 {
  color: var(--color-dark-gray);
}

.fuente-secundaria {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.93rem;
  color: var(--color-wine);
}
.show-more {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: var(--color-wine);
}
#special-section {
  height: 12rem;
  width: 12rem;
  padding: 1.04rem 0.2rem;
  border: 1px solid var(--color-dark-gray);
}
#special-section p,
h3 {
  margin: 0.2rem 0.3rem;
}
.each-serv-icon-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*  AVANCE*/
.avance {
  width: 100%;
  height: 10px;
  background-color: var(--color-not-nueve);
}

.each-service {
  height: 12rem;
  width: 12rem;
  padding: 1.04rem 0.2rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-close-button {
  display: none !important;
}
#flexx {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.footer-main {
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7rem;
  background-color: var(--color-not-nueve);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-white);
}
.footer-main a {
  text-decoration: none;
  color: var(--color-white);
  display: flex;
}

.foot-second {
  display: flex;
  gap: 1rem;
}

.footer-main a:hover {
  color: #bfd9f4;
  border-bottom: 2px solid #bfd9f4;
}
