@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-not-nueve: #0f0377;
  --color-white-plus: #fffdfd;
  --color-border: #0003;
  --color-border-dos: rgba(200, 207, 209, 0.342);
  --color-white: #fff;
  --text-color--text-secondary: #8a8a8a;
  --color-dark-gray: #333333;

  --color-light-gray: #dddddd;
  --color-wine: #b00404;
  --color-green: #32be08;
  --color-light-black: #424040;
  --font-title: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;
}
.font-navs {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  font-weight: 700;
}

a,
link {
  text-decoration: none;
}
.titulo-preguntas-frecuentes {
  display: none;
}
.hero {
  height: 84vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  overflow: hidden;
  width: 100%;
}
body {
  font-family: var(--font-body);
}

.hero img {
  width: 100%;
  object-fit: contain;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(21, 5, 60, 0.5);
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: cneter;
  padding: 1rem;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.hero-button {
  background-color: var(--color-white);
  color: var(--color-dark-gray);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  display: flex;
}

.hero-button:hover {
  background-color: var(--color-light-gray);
}

/* NAV BAR SECTION */
/* Estilos del header */

.nav {
  display: flex;
}
.nav-list {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--color-dark-gray);
  margin: 0;
}
.nav.open {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-list li {
  position: relative;
  margin: 1rem 20px;
  align-self: first baseline;
}
.submenu {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -60%;
  background-color: var(--color-white-plus);
  padding: 0.5rem 0;
  min-width: 235px;
  text-align: left;
  z-index: 100;
}

.nav-list a {
  color: var(--color-dark-gray);
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-list a:hover {
  color: var(--color-not-nueve);
  font-weight: 600;
}

/* Logo Notaria 9 */

.contenedor {
  width: 3.5rem;
  height: 3.5rem;
  max-width: 500px;
  border: 1px solid #ccc;
}
.contenedor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-wrapper {
  display: flex;
  max-width: 16rem;
  min-width: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.logo-letters {
  display: flex;
  flex-direction: column;
  width: 14rem;
}
.logo-letters * {
  margin: 0;
}

#not-nueve {
  font-size: 1.24rem;
  font-weight: 700;
  font-family: var(--font-title);
}
#lic-lilia {
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 0.07rem;
}

/* WHO WE ARE SECTION */
.we-are-section {
  padding: 2.2rem 0;
  height: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.img-article {
  border: 1px solid var(--color-not-nueve);
  height: 8.4rem;
}
.subheading {
  font-size: 1rem;
  margin: 0;
}
.mainTitle {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5rem 0;
}
.mainTitle * {
  margin: 0;
}
.subheading {
  margin: 0 0 0.7rem;
  color: var(--color-dark-gray);
}
.article-pharagraph {
  color: var(--color-dark-gray);
}

/* OUR SERVICES */
.our-services-wrapper {
  overflow: hidden;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  height: fit-content;
  width: 100%;
  padding: 1rem 0.7rem;
  max-width: 100%;
  align-items: center;
  justify-items: center;
}
.our-services-wrapper h3 {
  color: var(--color-dark-gray);
}

.fuente-secundaria {
  font-size: 0.83rem;
  color: var(--color-wine);
}
.show-more {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: var(--color-wine);
}
.special-section {
  height: 12rem;
  width: 18rem;
  padding: 1.44rem 0.9rem;
  border: 1px solid var(--color-light-gray);
}
.special-section p,
h3 {
  margin: 0.2rem 0.3rem;
}
.each-serv-icon-label {
  display: flex;
  gap: 0.4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*  AVANCE*/
.avance {
  width: 100%;
  height: 10px;
  background-color: var(--color-not-nueve);
}

.each-service {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 12rem;
  width: 19rem;
  max-width: 20rem;
  padding: 1.04rem 1.8rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(160, 160, 160, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease; /* suaviza la animación */
}
.each-service:hover {
  transform: scale(1.05); /* lo agranda un 5% */
}
.truncate-multiline p.short {
  text-align: left;
}
.truncate-multiline {
  color: var(--color-dark-gray);
  letter-spacing: 0.3px;
  text-align: justify;
  hyphens: auto;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* número de líneas que quieres mostrar */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overlay {
  position: absolute;
  top: 100%; /* por defecto iría debajo si no ajustamos */
  top: 0;
  left: 0;
  right: 0;
  height: 100%; /* cubrir solo el área del texto truncado */
  background-color: var(--color-not-nueve);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: bold;
  pointer-events: none;
  z-index: 10;
}
.each-service:hover .overlay {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1.05); /* lo agranda un 5% */
}

.leaflet-popup-close-button {
  display: none !important;
}
.flexx {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  align-items: start;
  padding: 0.5rem 0;
}

.contact-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
}

.contact-text h4,
.contact-text p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* .container-contacto {
  width: 100%;
} */
.grid-footer-four-sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: left;
  background-color: var(--color-not-nueve);
  padding: 3rem 6rem 4rem;
  color: var(--color-white);
  width: 100%;
  border: 2px solid rgba(248, 242, 242, 0.061);
}

.footer-main {
  padding: 1.3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7rem;
  background-color: var(--color-not-nueve);
  color: var(--color-white);
}

.our-facilities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 1.4rem;
}
.btn-contacto {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  height: fit-content;
  width: fit-content;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  background-color: var(--color-green);
  cursor: pointer;
  margin: 0.1rem 0;
}
.footer-main a {
  text-decoration: none;
  color: var(--color-white);
  display: flex;
}

.foot-second {
  display: flex;
  text-transform: uppercase;
  gap: 1rem;
}

.footer-main a:hover {
  color: #bfd9f4;
  border-bottom: 2px solid #bfd9f4;
}
.section-contacto-footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 6rem 4.5rem;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  background-color: var(--color-not-nueve);
}
#privacy-main {
  padding: 4rem 9rem;
}
.privacy-title {
  text-align: center;
}
.privacity-text {
  list-style: disc inside;
  text-align: justify;
  padding-left: 1rem;
  margin: 1rem 0;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}
.boldbold {
  font-weight: bold;
}

/* FAQs */
.faq-container {
  width: 100%;
  padding: 1.5rem 0;
}
.faq-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.faq-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}

.faq-item {
  border: 1px solid var(--color-var-green-outline);
  border-radius: 15px;
  overflow: hidden;
  width: 80%;
}

.faq-question {
  width: 100%;
  background: var(--color-var-green-outline);
  border: none;
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  color: rgb(57, 56, 56);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  background: var(--color-var-white);
}

.faq-icon {
  font-size: 0.8rem;
  color: var(--gray);
}

.faq-answer {
  padding: 15px;
  background: white;
  font-size: 16px;
  color: var(--gray);
  border-top: 1px solid #ccc;
  font-weight: 300;
}
.phone-mail-container {
  display: flex;
  width: 90%;
  max-width: 90%;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: start;
  padding: 2.4rem 2rem;
  overflow: hidden;
  gap: 1.1rem;
  border: 1px solid var(--text-color--text-secondary);
}
.map-div {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.main-contact-wrapper {
  overflow: hidden;
  display: grid;
  width: 100%;
  max-width: 100%;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  padding: 0 2.9rem;
  margin: 2.3rem auto;
  height: fit-content;
}

.hours-main-wrapper {
  display: flex;
  cursor: pointer;
  font-size: 1rem;
  align-items: left;
  gap: 1rem;
}

.openOrClose {
  color: var(--color-green);
}

.openOrCloseTab {
  font-size: 0.7rem;
}
html {
  font-size: 1.125rem;
  scroll-behavior: smooth;
}
.groupSpan {
  display: flex;
  gap: 0.61rem;
  align-items: center;
  justify-content: center;
}

#article-wrapper {
  width: 96%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0.45rem 0.2rem;
}
.stick-bottom {
  margin-top: auto;
}

.cont-img-article {
  position: relative;
  width: 100%;
  height: 124px; /* o el alto que quieras */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cont-img-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.numeral {
  color: var(--color-not-nueve);
}

.article-quienes-somo {
  position: relative;
  background-color: var(--color-not-nueve);
  width: 96%;
  color: var(--color-white);
  overflow: hidden;
  padding: 1rem 1.5rem;
}
#relleno {
  position: absolute;
  right: -28px;
  top: 0;
  opacity: 0.14;
  pointer-events: none;
  z-index: 0;
}

.contenido {
  position: relative;
  z-index: 2;
}

/* FADE */

.fade-in-section {
  opacity: 0.6;
  filter: blur(8px);
  transform: translateY(20px);
  transition: opacity 1s ease-out, filter 0.8s ease-out, transform 0.8s ease-out;
}
.fade-in-section.is-visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.icon-facilities {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.facilitie-label {
  margin-top: 0.5rem;
}
#facilities-wrapper {
  width: 100%;
  padding: 0 3.3rem;
  display: grid;
  text-align: center;
  overflow-y: hidden;
}

#facilities-gallery {
  padding: 2rem;
  margin: 2rem 0;
  background-color: #f5f5f5;
  text-align: center;
  height: auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

#title-faq {
  position: sticky;
  top: 6rem;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

#title-faq * {
  margin: 0.4rem;
}
.title-faq-p {
  font-weight: 700;
  color: var(--color-light-black);
  font-size: 38px;
}
.sub-title-faq {
  font-size: 1.125rem;
  font-weight: 100;
}

.faq-wrapper-main {
  width: 100%;
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: 34% 1fr;
  padding: 2rem 1%;
}

.renderizado-wrapper {
  height: auto;
  display: flex;
  gap: 1rem;
  width: 100%;

  justify-content: center;
  flex-direction: column;
}

.container-btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact-button {
  background-color: #004aad; /* Azul elegante */
  color: white;
  padding: 0.62rem 1.5rem;
  font-size: 16px;
  height: auto;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.contact-button-vol-2 {
  background-color: #c6ddfa; /* Azul elegante */
  color: #004aad;
  padding: 0.62rem 1.5rem;
  font-size: 16px;
  height: auto;
  border: none;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-button:hover {
  background-color: #003580;
  transform: translateY(-2px);
}
.contact-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  justify-items: start;
  align-items: center;

  padding: 0.5rem 0;
}

.contact-button:active {
  transform: scale(0.98);
}
.single-range-hour {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-hours {
  display: grid;
  grid-template-rows: repeat(7, 1rem);
  gap: 0.7rem;
  background-color: var(--color-white);
  width: 30rem;
  justify-content: center;
  align-items: center;
}
.close-span {
  color: var(--color-wine);
}

.articulos-notariales {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding: 2.6rem 4%;
}

.lowResImg {
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transition: filter 0.3s ease, opacity 0.3s ease;
  /* position: absolute; */
  top: 0;
  left: 0;
}
.highResImg {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.articulos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: auto;
  padding: 4rem 5.5rem;
  background-color: var(--color-white-plus);
  margin: 4rem auto 0;
  align-items: center;
}
.paragraph-article {
  font-size: 1.124rem;
}
.container-detailed-article {
  max-width: 100%;
  grid-column-gap: 5rem;
  height: auto;
  margin: 1rem 1rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 20rem;
}
.articles-thumbnail {
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  width: 100%;
}

.mark-up-new {
  background-color: var(--color-not-nueve);
  color: white;
  padding: 4px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 32px;
}
.wrapper-mark-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapper-mark-up-singleArticle {
  display: flex;
  flex-direction: column;
}

.mark-up-new p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.background-articles {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-track {
  display: flex;
  transition: transform 0.5 ease-in-out;
  width: 100%;
}
.slide {
  min-width: 100%;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: white;
}

#grid-main-article * {
}
#grid-main-article {
  display: grid;
  cursor: pointer;
  gap: 1rem;
  border: 1px solid var(--color-border);
  width: 87%;
  overflow: hidden;
  margin: 8% auto 1rem;
  padding: 2rem 2rem;
  background-color: var(--color-white);
  grid-template-columns: repeat(2, 1fr);
}

#inicio_articulos_item-content {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  width: 87%;
  margin: 4rem auto 4rem;
  /* background-color: var(--color-light-gray); */
  gap: 2rem;
}
.inicio_articulos_item {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-between;
  cursor: pointer;
  gap: 1rem;
  background-color: var(--color-white);
  overflow: hidden;
  border: 1px solid var(--color-border);
}
.inicio_articulos_item:hover {
  background-color: var(--color-border-dos);
}
.heading-style-title {
  font-size: 1.54rem !important;
  font-weight: 600;
}
.text-style-item {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3; /* propiedad estándar */
  font-size: 1rem;
  color: var(--color-dark-gray);
  overflow: hidden;
  text-align: justify;
}
.chat-button {
  width: 26px;
  height: 26px;
  background-color: var(--color-green);
  color: var(--color-var-white);
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: pulse 1s infinite;
  z-index: 10000;
}

.text-size-medium {
  font-size: 1.14rem;
  color: var(--color-white);
}
.max-width-large {
  display: flex;
  flex-direction: column;
  gap: 0.84rem;
  width: 93%;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

.menu-wrapper li {
  list-style-type: none;
}
.display-lista-footer,
.location-wrapper,
.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.location-wrapper {
  width: 65%;
}
.light-text {
  color: #aaa;
}
#bold-title-footer {
  font-weight: 700;
}

.display-lista-footer {
  margin: 0;
}

#section_servicios_layout {
  display: grid;
  grid-auto-columns: 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 4rem;
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  width: 100%;
  place-items: stretch start;
  padding: 4rem 3rem;
}
.heading-style-h5 {
  color: var(--color-dark-gray);
  font-size: 1.5rem;
}

.itemsListado {
  width: fit-content;
  min-width: 20rem;
}
.itemsListado > p {
  margin-top: 1rem;
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.colegio-notarios-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.to-top-btn {
  width: 100%;
  display: flex;
  background-color: #0f0377;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem;
}
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
/* --------------- Contenedor principal --------------- */
.gallery-wrapper {
  position: relative;
  width: 90%;
  margin: 0rem auto;
}

/* --------------- Botones de navegación --------------- */
.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-button.left {
  left: 0.5rem;
}

.gallery-button.right {
  right: 0.5rem;
}

.gallery-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* --------------- Contenedor de scroll --------------- */
.gallery-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
}

/* Opcional: quitar scrollbar visible en WebKit */
.gallery-container::-webkit-scrollbar {
  display: none;
}

/* --------------- Cada tarjeta de imagen --------------- */
.gallery-item {
  border-radius: 0.5rem;
  flex: 0 0 clamp(200px, 25%, 350px);
  overflow: hidden;
  height: 220px;
  position: relative;
  cursor: pointer;
}

/* Opcional: pequeño efecto al pasar el cursor */
.gallery-item:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

/* --------------- Responsividad --------------- */
@media (max-width: 768px) {
  .gallery-item {
    flex: 0 0 80%;
    height: 180px;
  }

  .gallery-button {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
  }
}

/* --------------- Modal --------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.modal-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* EVERYTHING RELATED TO MEDIA QUERIES */
@media (min-width: 768px) {
  .nav-list li:hover .submenu {
    display: block;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1500;
    display: grid;
    height: auto;
    transition: all 0.3s ease;
    grid-template-columns: 25rem 1fr;
    background-color: var(--color-white);
    padding: 0.5rem 3rem 0.5rem;
    text-align: center;
  }
}

/* mobile first */
@media (max-width: 768px) {
  .fila-completa {
    grid-column: span 2;
    padding: 1rem;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1500;
    display: grid;
    height: auto;
    transition: all 0.3s ease;
    justify-items: inherit;
    grid-template-columns: 1fr auto;
    background-color: var(--color-white);
    grid-template-rows: auto auto;
    padding: 1rem 1rem 1rem;
    text-align: center;
    border-bottom: 1px solid black;
  }
  .submenu--active {
    display: block;
    position: static;
  }
  .logo-letters {
    width: 100%;
    align-items: center;
  }
  #not-nueve {
    font-size: 1.03rem;
    text-align: center;
  }
  #lic-lilia {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    text-align: center;
  }

  .break-text {
    word-break: break-word;
    overflow-wrap: break-word;
  }
  .contact-item {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto auto;
    text-align: left;
  }
  .special-section {
    width: 100%;
    height: auto;
    padding: 0.8rem 0.9rem;
  }
  .each-service {
    width: 90%;
  }

  .inicio-servicios-servicio {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .servicio-secciones-serv {
    font-size: 2rem !important;
  }
  .contact-icon {
    margin-bottom: 0.5rem;
  }
  .nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /*
  body {
    background: rgb(249, 229, 233);
  }
  */
  .our-services-wrapper {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
  .we-are-section {
    display: flex;
    flex-direction: column;
  }
  .main-contact-wrapper {
    display: flex;
    padding: 0 1.4rem;
    flex-direction: column;
  }
  .nav-list {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }
  /*MAP*/
  .phone-mail-container {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 1rem 0.9rem;
    gap: 0;
  }
  .contact-item {
    padding: 0;
    gap: 0.3rem;
  }
  .hr-close-open {
    font-size: 0.8rem;
  }
  .hours-main-wrapper {
    display: flex;
    flex-direction: row;
  }
  .renderizado-wrapper {
    margin-top: 0.5rem;
  }

  .grid-hours {
    width: fit-content;
  }
  /* Seccion de ARTICULOS */
  .articulos {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
  }
  .paragraph-article {
    font-size: 0.9rem;
  }

  #grid-main-article {
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }
  #inicio_articulos_item-content {
    display: flex;
    flex-direction: column;
  }
  /*  PREGUNTAS FRECUENTES */
  .faq-wrapper-main {
    display: flex;
    flex-direction: column;
  }
  #title-faq {
    display: none;
  }
  .titulo-preguntas-frecuentes {
    display: block;
    width: 100%;
    text-align: center;
  }
  /*FACILITIES*/
  .our-facilities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
  #facilities-wrapper {
    padding: 0 1.7rem;
  }

  /* FOOTER */
  .section-contacto-footer {
    display: flex;
    flex-direction: column;
    padding: 6rem 1.5rem;
    align-items: last baseline;
  }
  .grid-footer-four-sections {
    display: flex;
    flex-direction: column;
  }
  .logos-footer {
    display: flex;
    flex-direction: row;
  }
  .footer-main {
    display: none;
  }

  .slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-70);
      transform: translateY(-70);
    }
    100% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
  }
}

/*video player*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura para contraste */
  z-index: 2;
}

.hero__content {
  z-index: 3;
  color: white;
  padding: 0 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.float-up-down {
  animation: upDown 1s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.nuestras-oficinas-color {
  color: black;
}

.team-photo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}

.team-info {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.team-info * {
  padding: 0;
  margin: 0;
}

.team-name {
  font-size: 1rem;
  color: #555;
}
.notario-name {
  font-size: 1rem;
  color: red;
}

.cordoba-ver {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.bg-color-white {
  background-color: white !important;
  color: black !important;
}

.section-form {
  padding: 8rem 4rem;
  width: 100%;
  overflow: hidden;
}
.main-contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.main-contact-form > * {
  padding: 2rem 2rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.item-contacto {
  margin: 1.5rem 0rem 0rem;
  border-bottom: 1px solid rgba(74, 72, 72, 0.181);
}

/* formulario de contacto */
.form-contacto {
  max-width: 800px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: grid;
  gap: 0.7rem;
}

#contact-fieldset {
  border: 1px solid rgba(0, 0, 0, 0.307);
  padding: 0rem 1rem 1rem;
  margin: 0;
  display: grid;
  gap: 0.4rem;
}
.contact-legend {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}
.contact-label {
  display: block;
  font-weight: 500;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fafafa;
}
.contact-textarea {
  resize: vertical;
  min-height: 4rem;
}
input[type="checkbox"] {
  margin-right: 0.5rem;
}

div > label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
span a {
  color: #1e88e5;
  text-decoration: underline;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #0077cc;
  background-color: #fff;
}

.div-captcha-btn-env {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}
.section-tres-contactos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
